{% extends "base.html" %}
    <!-- Формируется из локации и даты -->
  {% block title %}{{all_title_detail.location}}{% endblock title %}	
    {% block main %}   
      <div class="container py-5">
        <article>
          <ul>
            <li>
              Место: {{ all_title_detail.location }}             
            </li>
            <li>
              Дата: {{ all_title_detail.date }}
            </li>
            <li>
              Категория: <a href="{% url "blog:category_posts" all_title_detail.category %}">{{ all_title_detail.category }}</a> 
            </li>
          </ul>         
          <p>
            {{ all_title_detail.text }}
          </p>          
        </article>                
      </div>
    {% endblock main %}
